name: "hello to pull request"

on:
    pull_request:
        branches:
          - develop
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - name: "hello to pull request"
            run: echo "Hello to pull request"